.contenedorLogin{
    background: #fcd5a1;
    height: 1000px;
}
#easyf{
    color: black;
    font-size: 37px;
    padding: 10px;
    margin: 30px;
    margin-left: 20px;
  
}
#logoL{
    width: 100%;
    margin-right: 40px;
}